fastapi==0.81.0
uvicorn==0.18.3
option==2.1.0
sqlalchemy==1.4.41
black==22.8.0
mysqlclient==2.1.1
sqlmodel==0.0.8
pydantic[email]==1.10.1
dnspython==2.2.1
email-validator==1.2.1
fastapi_sessions==0.3.2
python-multipart==0.0.5